.containerAvatar {
    height: inherit;
    left: 0%;
    text-align: center;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    width: 155px;
    height: 155px;
    border-radius: 100%;
    border: 6px solid #B3C9CB;
    background-image: url("/resources/image/avatar.png");
    background-size: cover;
    -webkit-transition: border 0.5s linear;
    transition: border 0.5s linear;
    margin: auto;
    position: inherit;
}

#fileUploadImage {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

