li:hover {
    background: #7cbcd6;
}

#description {
    height: 100%;
    overflow: auto;
}

#creatorContainer {
    /*height: auto;*/
    margin-top: 20px;
}

#users {
    height: 300px;
}

.account > .img-thumbnail {
    max-width: 44px;
    max-height: 43px;
}

#admins {
    height: 200px;
}

.form-control {
    height: 83%;
    overflow: auto;
}

#users > .form-control {
    height: 90%;
}

.menuMouse {
    position: absolute;
    display: none;
    z-index: 9999;
}

.m4 {
    position: absolute;
    right: -40px;
    display: block;
    margin-right: 60px;
}

.w3-col.m4, .w3-third {
    width: 29%;
}

.account {
    border: 1px solid #ccc;
    height: 50px;
    padding: 3px;
    border-radius: 5%;
}

#fileUploadImage {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#groupDescriptionTextArea {
    margin: 0px;
    width: 866px;
    height: 273px;
}

.rightButtonMenu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.editMode {
    background: #d4d4d4;
}