#search[type=text] {
    width: 160px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#search[type=text]:focus {
    width: 500px;
}