.fromdiv {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    /*padding-top: 60px;*/
}

/* Bordered form */
form {
    margin: 5px auto; /* 15% page the top and centered */
    border: 1px solid #888;
    width: 440px;
    border-radius: 10px;
}

input:not([type='checkbox']) {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: lightseagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.registrationButton {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 240px;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 0 0;
    height: 200px;
}

/* Avatar image */
img.avatar {
    width: 40%;
    height: 60%;
    /*border-radius: 50%;*/
}

/* Add padding to containers */
.container, .container1 {
    padding: 16px;
}

.container1 {
    border-radius: 0 0 10px 10px;
}

.password {
    display: block;
    float: none;
}

.login {
    font-size: 20px;
}

.Logo {
    height: inherit;
    align-content: center;
}
